<div class="card">
    <div *ngIf="isLoading()">
        <div class="product-list">
            <div *ngFor="let i of counterArray(6)" class="product-entry">
                <p-skeleton class="product-image"></p-skeleton>

                <div class="product-details">
                    <p-skeleton width="8rem" height="1.5rem"></p-skeleton>
                    <p-skeleton width="6rem" height="1rem"></p-skeleton>
                    <div class="flex items-center gap-4 mt-2">
                        <p-skeleton width="6rem" height="1rem"></p-skeleton>
                        <p-skeleton width="3rem" height="1rem"></p-skeleton>
                    </div>
                </div>

                <div class="product-actions">
                    <p-skeleton width="2.5rem" height="2.5rem" shape="circle"></p-skeleton>
                    <p-skeleton width="6rem" height="2rem"></p-skeleton>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!isLoading()">
        <div class="product-list">
            <div *ngFor="let item of products()" class="product-entry">
                <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + item.image"
                    alt="{{ item.name }}" class="product-image" />

                <div class="product-details">
                    <h3 class="product-title">{{ item.name }}</h3>
                    <p class="product-category">{{ item.category }}</p>
                    <div class="product-price">{{ item.price | currency: 'USD' }}</div>
                </div>

                <div class="product-actions">
                    <button pButton icon="pi pi-heart" [outlined]="true"></button>
                    <button pButton icon="pi pi-shopping-cart" label="Buy Now"
                        [disabled]="item.inventoryStatus === 'OUTOFSTOCK'">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isLoading()">
    <p-dataview [value]="products()" [layout]="layout">
        <ng-template #header>
            <div class="flex justify-end">
                <p-selectbutton [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
                    <ng-template #item let-option>
                        <i [class]="'pi ' + (option === 'list' ? 'pi-bars' : 'pi-table')"></i>
                    </ng-template>
                </p-selectbutton>
            </div>
        </ng-template>

        <ng-template #list let-product>
            <div class="product-entry">
                <div class="relative">
                    <img class="product-image"
                        [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image"
                        [alt]="product.name" />
                    <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product)"
                        class="absolute left-1 top-1 dark:!bg-surface-900"></p-tag>
                </div>

                <div class="product-details">
                    <span class="product-category">{{ product.category }}</span>
                    <div class="product-title">{{ product.name }}</div>
                    <div class="flex items-center gap-2">
                        <span class="text-sm">{{ product.rating }}</span>
                        <i class="pi pi-star-fill text-yellow-500"></i>
                    </div>
                    <div class="product-price">{{ product.price | currency: 'USD' }}</div>
                </div>

                <div class="product-actions">
                    <button pButton icon="pi pi-heart" [outlined]="true"></button>
                    <button pButton icon="pi pi-shopping-cart" label="Buy Now"
                        [disabled]="product.inventoryStatus === 'OUTOFSTOCK'">
                    </button>
                </div>
            </div>
        </ng-template>
    </p-dataview>
</div>