<div class="card flex justify-center">
    <div *ngIf="images.length > 0" class="grid grid-cols-12 gap-4" style="max-width: 800px;">
        <div *ngFor="let image of images; let index = index" class="col-span-4">
            <img [src]="image.thumbnailImageSrc" [alt]="image.alt"
                style="cursor: pointer; width: 100%; height: 100px; object-fit: cover" (click)="imageClick(index)" />
        </div>
    </div>

    <p-galleria [value]="images" [(visible)]="displayCustom" [(activeIndex)]="activeIndex"
        [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '850px' }" [numVisible]="7"
        [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="false">
        <ng-template #item let-item>
            <img [src]="item.itemImageSrc" style="width: 100%; height: 500px; object-fit: cover; display: block" />
        </ng-template>
    </p-galleria>
</div>